
@{
    ViewBag.Title = "SubmitIsoAgentAgreementForm";
}

<div>
    <a href="~/Content/ISO AGENT AGREEMENT_Esign_Ready Filled.pdf" target="_blank">Open PDF</a>
</div>
<div>
    @Html.ActionLink("E-Sign PDF", "IsoAgreementESign", null, new { @class = "btn btn-primary", @type = "button" })
</div>

